In [3]:
import pandas as pd

# Load the Excel file
file_path = "BAM_ApplicationTest.xlsx"
xls = pd.ExcelFile(file_path)

In [4]:
# Display sheet names to understand the structure of the file
xls.sheet_names

['Bed Cleans', 'EVS Team Members']

In [7]:
import pandas as pd

# Load specific sheets into DataFrames
bed_cleans_df = pd.read_excel(xls, sheet_name="Bed Cleans")
evs_team_df = pd.read_excel(xls, sheet_name="EVS Team Members")

# Display column names to understand data structure
print("Bed Cleans Columns:", bed_cleans_df.columns)
print("EVS Team Members Columns:", evs_team_df.columns)

# Display first few rows of each DataFrame
print(bed_cleans_df.head())
print(evs_team_df.head())

Bed Cleans Columns: Index(['TotalRows', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')
EVS Team Members Columns: Index(['Employee ID', 'Name'], dtype='object')
             TotalRows             Unnamed: 1           Unnamed: 2  \
0    Total Jobs: 52575                    NaN                  NaN
1                  NaN                    NaN                  NaN
2  Bed Clean Requested  Bed Clean In Progress  Bed Clean Completed
3  2017-07-30 00:36:00    2017-07-30 00:39:00  2017-07-30 00:56:00
4  2017-07-29 23:44:00    2017-07-29 23:52:00  2017-07-30 00:43:00

                    Unnamed: 3 Unnamed: 4  \
0                          NaN        NaN
1                          NaN        NaN
2                    Unit Name     Campus
3  4NI NEONATAL INTENSIVE CARE    IU Ball
4    NNBN PP (Newborn Nursery)   IU North

                               Unnamed: 5  Unnamed: 6       Unnamed: 7
0                                     NaN         NaN              NaN
1                                     NaN         NaN              NaN
2                               Room Name  Room ADTID  EVS Employee ID
3  4NI NEONATAL INTENSIVE CARE Room L0934      L0934P              124
4    NNBN PP (Newborn Nursery) Room NC419      NC419P              101
   Employee ID               Name
0          123   Alida Cinnamon
1          103      Arlen Motta
2          120  Arthur Clemente
3          114    Candy Dorothy
4          120    Carisa Engler

In [2]:
import pandas as pd

# Load data
df = pd.read_excel("BAM_ApplicationTest.xlsx", sheet_name="Bed Cleans", skiprows=3, 
                   usecols=[0, 2, 3, 4])  # Load only relevant columns

# Rename columns
df.columns = ["Bed Clean Requested", "Bed Clean Completed", "Unit Name", "Campus"]

# Drop missing values and convert timestamps
df = df.dropna(subset=["Bed Clean Requested", "Bed Clean Completed"])
df[["Bed Clean Requested", "Bed Clean Completed"]] = df[["Bed Clean Requested", "Bed Clean Completed"]].apply(pd.to_datetime)

# Filter for target units and calculate cleaning time
df = df[df["Unit Name"].isin(["5B Medical", "C5 Surgical"])]
df["Cleaning Duration (min)"] = (df["Bed Clean Completed"] - df["Bed Clean Requested"]).dt.total_seconds() / 60

# Compute and print average cleaning time
print(df.groupby("Unit Name")["Cleaning Duration (min)"].mean())

Unit Name
5B Medical     85.132963
C5 Surgical    78.340017
Name: Cleaning Duration (min), dtype: float64